In [1]:
import numpy as np
import pandas as pd

In [3]:
# read_excel misaliii
dataFrame = pd.read_csv("2018-2021.csv")

In [4]:
dataFrame

,STATION_NAME,DATE,TIME,PM10,SO2,NO2,O3,CO,AQI_INDEX,STATE
0,Maslak,02.01.2018,16:00:00,37.7,0.0,29.6,1.8,0.0,14,1
1,Maslak,02.01.2018,17:00:00,25.0,0.0,30.0,1.8,0.0,15,1
2,Maslak,02.01.2018,18:00:00,30.0,0.0,30.3,1.3,0.0,15,1
3,Maslak,02.01.2018,19:00:00,43.2,0.0,29.8,1.9,0.0,15,1
4,Maslak,02.01.2018,20:00:00,28.9,0.0,29.5,1.8,0.0,14,1
...,...,...,...,...,...,...,...,...,...,...
858611,Tuzla,13.12.2021,20:00:00,25.0,8.9,55.9,1.9,0.0,27,1
858612,Tuzla,13.12.2021,21:00:00,11.0,8.8,59.4,2.5,0.0,29,1
858613,Tuzla,13.12.2021,22:00:00,9.0,9.5,50.9,2.8,0.0,25,1
858614,Tuzla,13.12.2021,23:00:00,15.0,9.0,51.4,3.6,0.0,25,1
858615,Tuzla,14.12.2021,00:00:00,10.0,10.0,39.7,4.9,0.0,20,1

In [7]:
dataFrame["STATION_NAME"]

0         Maslak
1         Maslak
2         Maslak
3         Maslak
4         Maslak
           ...
858611     Tuzla
858612     Tuzla
858613     Tuzla
858614     Tuzla
858615     Tuzla
Name: STATION_NAME, Length: 858616, dtype: object

In [ ]:
doluDegerlerFrame = dataFrame.dropna()

In [ ]:
doluDegerlerFrame

In [ ]:
doluDegerlerFrame.to_csv("pyhton_madencilik.csv")